<h1>Eat-Da-Burger!</h1>

<h2>Burgers that make you drool!</h2>

<ul>
    {{#each burgers}}
        {{#unless devoured}}
            <p>{{this.id}}. {{this.burger_name}}
              	<button class="change-sleep" data-id="{{this.id}}" data-newsleep="{{this.devoured}}">
		{{#if devoured}}GEEZ I WANT ANOTHER ONE!{{else}}EAT THIS!{{/if}}
	</button>
  	<button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
        {{/unless}}
    {{/each}}
</ul>

<h2>Burgers you've already devoured!</h2>

<ul>
    {{#each burgers}}
    {{#if devoured}}
            <p>{{this.id}}. {{this.burger_name}}
              	<button class="change-sleep" data-id="{{this.id}}" data-newsleep="{{this.devoured}}">
		{{#if devoured}}GEEZ I WANT ANOTHER ONE!{{else}}EAT THIS!{{/if}}
	</button>
  	<button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
    {{/if}}
    {{/each}}
</ul>

<h2>Hungry for more?</h2>
<form class="create-form">

<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="sleepy">Already Eaten?</label><br>
    <input type="radio" name="sleepy" value="1"> Devoured<br>
    <input type="radio" name="sleepy" value="0" checked> Ready to Eat
  </div>

  <button type="submit">Add Me Some Burger!</button>
</form>
