<h1 class="top-name text">Eat-Da-Burger!</h1>
<br>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h2 class="menu-header text">On The Menu!</h2>
      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        <p class="big text">{{this.id}}. {{this.burger_name}}<br>
          <button type="button" class="change-sleep btn btn-primary btn-sm" data-id="{{this.id}}"
            data-newsleep="{{this.devoured}}">
            {{#if devoured}}More, please!{{else}}Let's eat!{{/if}}
          </button>
          <button type="button" class="delete-cat btn btn-primary btn-sm" data-id="{{this.id}}">Delete</button>
          {{/unless}}
          {{/each}}
      </ul>
    </div>
    <div class="col-lg-6">
      <h2 class="menu-header text">In Your Belly!</h2>
      <ul>
        {{#each burgers}}
        {{#if devoured}}
        <p class="big text">{{this.id}}. {{this.burger_name}}<br>
          <button type="button" class="change-sleep btn btn-primary btn-sm" data-id="{{this.id}}"
            data-newsleep="{{this.devoured}}">
            {{#if devoured}}More, please!{{else}}Let's eat!{{/if}}
          </button>
          <button type="button" class="delete-cat btn btn-primary btn-sm" data-id="{{this.id}}">Delete</button>
          {{/if}}
          {{/each}}
      </ul>
    </div>
  </div>
</div>
<br>
<div class="container">
  <div class="row"></div>
  <div class="row">
    <div class="col-lg-6">
      <h2 class="menu-header text">Looking for Something Else?</h2>
      <form class="create-form">
        <div class="form-group text big">
          <label for="ca">Burger Name:</label>
          <input type="text" id="ca" name="name">
        </div>
        <div class="form-group text big">
          <input type="radio" name="sleepy" value="0" checked> Put it on the menu!
          <input type="radio" name="sleepy" value="1"> I just ate one!<br>
        </div>
        <button type="submit" class="btn btn-primary btn-sm">Add Me Some Burger!</button>
      </form>
    </div>
  </div>
</div>